---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-center">
    <!-- Wider Text Column -->
    <div class="col-md-8 text-center text-md-left pr-md-5">
      <h1 class="font-weight-bold mb-4 serif-font" id="mobile-text">Panggih Kusuma Ningrum, Ph.D.</h1>
      
      <p class="lead mb-4" style="font-size:15.5px;">I hold a PhD in Natural Language Processing (NLP). Currently, I am a Research Associate in NLP at the Centre de Recherches Interdisciplinaires et Transculturelles (CRIT), Université Marie et Louis Pasteur, France. Alongside research, I also design and teach NLP courses at GRETA-CFA de Besançon, helping shape the next generation of data and AI professionals.</p>
      <p class="lead mb-4" style="font-size:15.5px;">In 2026, I obtained national qualification as a Maître de Conférences (MCF) in the French public university system, accredited by the Conseil National des Universités (CNU) in Section 07 – Sciences du langage and Section 27 – Informatique. This qualification confirms my eligibility for tenured‑track faculty positions (equivalent to Associate Professor) in French universities and attests, through the formal evaluation by the national Conseil National des Universités (CNU), to the quality and coherence of my research and teaching profile in natural language processing, computational linguistics, and related fields.</p>
      <p class="lead mb-4" style="font-size:15.5px;">Outside of academic world, you’ll find me composing music with my indie-rock band <a href=”https://www.youtube.com/@Lairedejeu”>L'aire de jeu</a>, experimenting in the kitchen, or cruising on my longboard.</p>
      
      <a href="{{site.baseurl}}/online-resume/" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>

    <!-- Narrower Image Column -->
    <div class="col-md-4 text-center text-md-right">
      <img class="intro img-fluid" src="{{site.baseurl}}/assets/images/intro.png" alt="Introduction Image" width="270" height="540">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<h3 class="section-header">PROTOTYPES & DEMOS</h3>

<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
