---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-center justify-content-md-between">
    <div class="col-md-6 text-center text-md-left">
      <h1 class="font-weight-bold mb-4 serif-font" style="margin-left: 15px; margin-right: 11px;" id="mobile-text">Hello! I'm Panggih Kusuma Ningrum</h1>
      <p class="lead mb-4" style="font-size:15.5px; margin-left: 15px; margin-right: 11px;" id="mobile-text">I hold a PhD in Natural Language Processing (NLP) and currently work as an NLP Researcher & Engineer at the Lucien Tesnière Research Center (CRIT), University of Bourgogne Franche-Comté, France, where I explore cutting-edge language technologies. Alongside research, I design and teach AI courses as an AI Educational Designer & Instructor at GRETA-CFA de Besançon, helping shape the next generation of data and AI professionals. When I’m not coding or analyzing text, you’ll find me composing music, sketching, experimenting in the kitchen, or cruising on my longboard.</p>
      <p class="lead mb-4" style="font-size:15.5px; margin-left: 15px; margin-right: 11px;" id="mobile-text">I’m always eager to collaborate on innovative projects and explore new challenges in NLP, AI, and data science. Let’s connect and create something meaningful together!</p>
      <a href="{{site.baseurl}}/online-resume/" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>
    <div class="col-md-6 text-center text-md-right pl-0 pl-lg-4">
      <img class="intro img-fluid" src="{{site.baseurl}}/assets/images/intro.png" alt="Introduction Image" width="380" height="650">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
