<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newest Event</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad2-23.jpeg">
        <h5><span>********</span></h5>
        <img src="{{site.baseurl}}/assets/images/unnes2023.jpeg">
        <h5><span>********</span></h5>
        <img src="{{site.baseurl}}/assets/images/Screenshot 2023-01-23 at 12.37.28.png">
        <h5><span>********</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
       
    </div>
</div>
